* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: black;
    padding: 10px 0px 10px 20px;
}

.logo img{
    height: 35px;
}

.name {
    margin-top: -8px;
    justify-content: space-between;
    display: flex;
    font-size: 28px;
}

button {
    font-size: 28px;
    padding-left: 5px;
    padding-right: 5px;
}

button img {
    width: 32px;
    background-color: transparent;
}

.tipo {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 8px;
    font-weight: bold;
    max-width: fit-content;
}

.pokemon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 480px;
}

footer {
    border-radius: 64px 64px 0px 0px;
}