@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(to right, #cccade, #ececaa);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: black;
}

#searchBar {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#searchInput {
    text-align: center;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    flex-grow: 1;
}

#searchInput:focus {
    border-color: #007BFF;
}

#searchIcon {
    margin-left: 10px;
    cursor: pointer;
}

h1 {
    letter-spacing: 5px;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 12px;
    padding: 20px;
    text-align: center;
}

.pokemon:hover {
    cursor: pointer;
    transition: transform 0.35s ease-out;
}

.pokemon.highlight {
    transform: scale(1.15);
}

.detalhes {
    color: black;
    text-decoration: none;
}

.imgContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.imgContainer img {
    max-width: 90%;
}

.info {
    margin-top: 20px;
}

.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.type {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 8px;
    font-weight: bold;
}

.паmе {
    margin: 15px 0 7px;
    letter-spacing: 1.5px;
}

#pokemonDetails {
    display: none;
    flex-direction: column;
    align-items: center;
}

#pokemonDetails img {
    max-width: 200px;
    height: auto;
}

#pokemonDetailsContainer {
    margin-top: 20px;
    text-align: center;
}

#pokemonDetails p {
    margin: 10px 0;
}

#pokemonDetails button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
