* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(to right, #cccade, #ececaa);
}

header {
    width: 100%;
    height: 10vw;
    background-color: rgb(0, 0, 0);
    padding: 3px 10px;
}

header img {
    height: 7vw;
    margin: 0.5vw;
}

.sitecontainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

h1 {
    font-size: larger;
    margin-top: 8px;
    letter-spacing: 5px;
}

#searchBar {
    margin-top: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 12px;
    font-size: 14px;
    color: #555;
}

#searchInput {
    width: 16rem;
    padding: 0.5rem;
    font-size: 12px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    flex-grow: 1;
}

#searchInput:focus {
    border-color: #007BFF;
}

.icon-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid #ddd;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.icon-btn:hover {
    background-color: #f0f0f0;
}

.icon-btn .icon,
.search-icon {
    font-size: 1.4rem;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 8px;
    padding: 12px 20px;
    text-align: center;
    width: 6.5rem;
    height: 10.4rem;
}

.pokemon:hover {
    cursor: pointer;
    transition: transform 0.35s ease-out;
}

.pokemon.highlight {
    transform: scale(1.15);
}

.detalhes {
    color: black;
    text-decoration: none;
}

.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.7rem;
}

.imgContainer {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    overflow: hidden;
    /* IMPORTANTE */
}

.imgContainer img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    /* não corta */
}

.info {
    margin-top: 10px;
    font-size: x-small;
}

.types {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 6px;
    align-items: center;
    padding: 3px 2px;
    font-size: 7px;
}

.types img {
    width: 28px;
}

.паmе {
    margin: 15px 7px;
    letter-spacing: 1.5px;
}

/* Tela casa */
@media (min-width: 720px) and (max-width: 1920px) {
    header {
        height: 60px;
        padding: 4px 15px;
    }

    header img {
        height: 2.8vw;
        margin: -0.2vw;
    }

    h1 {
        font-size: xx-large;
    }

    #searchInput {
        width: 36rem;
        padding: 10px;
        font-size: 16px;
    }

    .pokemon {
        border-radius: 16px;
        margin: 15px;
        padding: 20px;
        width: 10.4rem;
        height: 16.64rem;
    }

    .number {
        font-size: 1rem;
    }

    .imgContainer {
        width: 120px;
        height: 120px;
    }

    .imgContainer img {
        width: 80%;
        height: 80%;
    }


    .info {
        margin-top: 15px;
        font-size: medium;
    }

    .type {
        font-size: medium;
        padding: 2px 8px;
    }
}

@media (max-width: 720px) {

    .icon-btn .icon,
    .search-icon {
        font-size: 1rem;
    }

    .pokemon {
        align-items: center;
        background-color: #eee;
        border-radius: 12px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 0.5rem;
        padding: 0.5rem;
        text-align: center;
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .pokemon:hover {
        cursor: pointer;
        transition: transform 0.35s ease-out;
    }

    .pokemon.highlight {
        transform: scale(1);
    }

    .detalhes {
        color: black;
        text-decoration: none;
        flex-direction: row;
        display: flex;
        gap: 0.4rem;
    }

    .number {
        color: lightgray;
        background-color: transparent;
        border-radius: 0;
        font-size: 1.6rem;
        align-self: flex-end;
        padding: 0;
        font-weight: 600;
    }

    .imgContainer {
        margin: 0;
        padding: 0;
        display: flex;
        background-color: transparent;
        width: 64px;
        height: 64px;
    }

    .imgContainer img {
        width: 100%;
        height: 100%;
    }

    .info {
        font-size: x-small;
    }

    .name {
        color: white;
        margin: 0;
        letter-spacing: 1.6px;
        font-weight: 500;
        font-size: x-large;
    }

    .types {
        display: flex;
        justify-content: left;
        gap: 6px;
        margin-top: 0;
        align-items: center;
        padding: 3px 2px;
        font-size: 7px;
    }

    .types img {
        width: 1.2rem;
    }
}